In [11]:
import pandas as ps

df=ps.read_csv("AthleteH.csv")
print(df)

  CodeA       NomPrenom  Genre  Taille  Poids
0   A01         SALHI H  Homme     189     90
1   A02   CHTOUROU Anas  Homme     169     65
2   A03     ALOUI Najet  Femme     164     54
3   A04    HILELI Fedwa  Femme     185    110
4   A05   CHAABEN Hatem  Homme     152     42
5   A06    TOUNSI Mahdi  Homme     170     88
6   A07  BEN HMIDA Alia  Femme     165     60

In [12]:
print(df.shape)

(7, 5)

In [13]:
print (df.size)

35

In [15]:
print(df.head(2))

  CodeA      NomPrenom  Genre  Taille  Poids
0   A01        SALHI H  Homme     189     90
1   A02  CHTOUROU Anas  Homme     169     65

In [16]:
print(df.tail(1))

  CodeA       NomPrenom  Genre  Taille  Poids
6   A07  BEN HMIDA Alia  Femme     165     60

In [18]:
c=df['Poids'].mean()
print(c)

72.71428571428571

In [19]:
somme=df['Taille'].sum()
print(somme)

<bound method NDFrame._add_numeric_operations.<locals>.sum of 0    189
1    169
2    164
3    185
4    152
5    170
6    165
Name: Taille, dtype: int64>